<div class="container">
  <h1>Sinatra Sandbox</h1>

  <form id="form1" action="/cool_url" method="get">
    Form 1:

    <input type="text" name="post[title]">
    <input type="text" name="post[price]">
    <textarea name="post[description]"></textarea>
    
    <br>
    <input id="input1" type="text" name="input1"><br>
    <input type="radio" name="form1_group1" value="Milk"> Milk<br>
    <input type="radio" name="form1_group1" value="Butter" checked> Butter<br>
    <input type="radio" name="form1_group1" value="Cheese"> Cheese<br>
    <textarea cols="40" rows="5" name="form2_myname">
      Now we are inside the area - which is nice.
    </textarea>
    <br><br>

    <input type="checkbox" name="form1_option1" value="Droid"> Droid<br>
    <input type="checkbox" name="form1_option2" value="Storm" checked> Storm Trooper<br>
    <input type="checkbox" name="form1_option3" value="Jedi"> Jedi<br>

    <select name="form1_mydropdown">
      <option value="Car">Car</option>
      <option value="Bus">Bus</option>
      <option value="Bike">Bike</option>
    </select><br><br>

    <input type="submit" value="Submit">
    <br><br>
  </form>
  
  <form id="form2" action="/cool_url" method="post">
    Form 2:
    <br>
    <input id="input2" type="text" name="input2"><br>
    <input type="radio" name="form2_group1" value="Milk"> Milk<br>
    <input type="radio" name="form2_group1" value="Butter" checked> Butter<br>
    <input type="radio" name="form2_group1" value="Cheese"> Cheese<br>
    <textarea cols="40" rows="5" name="form2_myname">
      Now we are inside the area - which is nice.
    </textarea>
    <br><br>

    <input type="checkbox" name="form2_option1" value="Droid"> Droid<br>
    <input type="checkbox" name="form2_option2" value="Storm" checked> Storm Trooper<br>
    <input type="checkbox" name="form2_option3" value="Jedi"> Jedi<br>

    <select name="form2_mydropdown">
      <option value="Car">Car</option>
      <option value="Bus">Bus</option>
      <option value="Bike">Bike</option>
    </select><br>
    <input type="submit" value="Submit">
  </form>

</div>
